<!DOCTYPE html> 
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/css/theme.css">
        <link rel="icon" href="/assets/logo/round-icon.png">
        <script src="/assets/javascript/content-loader.js"></script>
    </head>
    <title>{TITLE}</title>
    <body>
        <div id="page-menu-container">
            <aside id="page-menu">
                <nav>
                    <a href="/" class="logo" class="loading-fade">3li <span>{}</span></a>
                    <hr>
                    <section id="pages-list">
                        <ul class="loading-fade">
                            <li><a href="/">Home</a></li>
                            <li><a href="/projects/">Projects</a></li>
                            <li><a href="/blog/">Blog</a></li>
                        </ul>
                    </section>
                </nav>
            </aside>
        </div>
        <header>
            <nav>
                <a href="/" class="logo" class="loading-fade">3li <span>{}</span></a>
                <section id="pages-bar">
                    <ul class="loading-fade">
                        <li><a href="/">Home</a></li>
                        <li><a href="/projects/">Projects</a></li>
                        <li><a href="/blog/">Blog</a></li>
                    </ul>
                </section>

                <button id="page-menu-button" aria-label="Open menu" aria-expanded="false">☰</button>
            </nav>
        </header>
        <div id="container">
            <!-- Main page/show -->
            <main class="loading-fade">
                <article>{ARTICLE}
                </article>
            </main>
    
            <!-- Bottom -->
            <footer>
                <nav>
                    <ul>
                        <li class="fade-in"><a href="/contact/">Contact</a></li>
                        <li class="fade-in"><a href="https://www.instagram.com/3lii3.dev/">Instagram</a></li>
                        <li class="fade-in"><a href="/linkedin">LinkedIn</a></li>
                    </ul>
                    <p>Designed by <a href="https://www.instagram.com/3lii3.dev/">3lii3</a></p>
                </nav>
            </footer>
            <script src="/assets/javascript/content-loader.js"></script>
        </div>
    </body>
</html>