@import url(https://fonts.googleapis.com/css?family=Poppins);

@font-face {
    font-family: 'Bukhari Script';
    font-style: normal;
    font-weight: 400;
    src: local('Bukhari Script'), url('https://fonts.cdnfonts.com/s/57472/BukhariScript-Regular.woff') format('woff');
}

body {
    background-color: black;
    margin: 0 clamp(75px, 5%, 150px) 0 clamp(75px, 5%, 150px);
}

.topbar {
    background-color: black;
    width: 100%;
    height: 80px;
    top: 0;
    position: sticky;
    border-bottom: 1px solid #3F3F3F;
    z-index: 2;
}

.welcome {
    margin: 0;
    width: 100%;
    height: 60vh;
    display: flex;
    gap: 0;
}

.logo{
    position: relative;
    width: 45%;
    left: 25px; 
}

.icon {
    position: relative;
    border-radius: 260px;
    border: #008F4A 2px solid;
    width: clamp(120px, 25vw, 250px);
    left: 55%;
    top: 5vh;
    rotate: 15deg;
}
.grid1 {
    position: relative;
    height: clamp(200px, 25vw, 200px);
    height: clamp(200px, 25vw, 200px);
    z-index: -1;
    top: 4vh;
    left: 6vw;
}

.grid2 {
    position: relative;
    height: clamp(120px, 25vw, 250px);
    height: clamp(120px, 25vw, 250px);
    z-index: -1;
    top: 20vh;
    left: 63%;
}

.info {
    position: absolute;
    display: block;
    width: 90%;
    height: 100vh;
}

.contact {
    position: absolute;
    display: block;
    text-align: center;
    width: 90%;
    height: 100vh;
    top: 150vh;
}

.contactTitle {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    font-family: 'Poppins';
    font-size: clamp(36px, 5vw, 50px);
    font-weight: 900;
    color: #ffffff;
}

.contactButtons {
    position: relative;
    display: flex;
    gap: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
}

.about {
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    font-family: 'Poppins';
    font-size: clamp(36px, 5vw, 50px);
    font-weight: 900;
    color: #ffffff;
}

.about::after {
    content: "";
    display: block;
    position: relative;
    width: 20%;
    height: 15px;
    top: -1vh;
    left: 25%;
    transform: translateX(50%);
    border-radius: 15px;
    background-color: #21E084;
}

.paragraph {
    position: relative;
    width: 42%;
    font-size: clamp(12px, 1vw, 20px);
    font-family: 'Poppins';
    color: #B0B0B0;
    text-align: left;
    top: -25vh;
    left: 15%;
}

.contactParagraph {
    position: relative;
    width: 42%;
    font-size: clamp(12px, 1vw, 20px);
    font-family: 'Poppins';
    color: #B0B0B0;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.primaryButton {
    background-color: #21E084;
    color: black;
    border: #21E084 2px solid;
    border-radius: 15px;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 26px;
    height: 60px;
    width: 180px;
    transition: transform 0.1s ease, text-shadow 0.1s ease;
}

.secondaryButton {
    background-color: #000000;
    color: #21E084;
    border: #21E084 2px solid;
    border-radius: 15px;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 26px;
    height: 60px;
    width: 180px;
    transition: transform 0.1s ease, text-shadow 0.1s ease;
}

.secondaryButton.hover, .secondaryButton:hover {
    background-color: #000000;
    color: #21E084;
    border: #21E084 2px dashed;
    border-radius: 15px;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 26px;
    height: 60px;
    width: 180px;
    /* neon effect */
    text-shadow: 0 0 5px #008F4A,  0 0 10px #087942;
    transform: scale(1.05);
}

.primaryButton.hover, .primaryButton:hover {
    background-color: #022e19;
    color: white;
    border: #21E084 2px solid;
    border-radius: 15px;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 26px;
    height: 60px;
    width: 180px;
    /* neon effect */
    text-shadow: 0 0 5px #008F4A,  0 0 10px #087942;
    transform: scale(1.05);
}

.buttons {
    gap: 15px;
    display: flex;
    left: -5%;
}

.greet {
    margin: 0;
    position: relative;
    color:white;
    text-align: left;
    font-size: clamp(20px, 3vw, 36px);
    font-weight: 600;
    font-family: 'Poppins', monospace;
    top: 12vh;
    left: 10vw;
}

.styleFont {
    width: fit-content;
    margin: 0;
    position: relative;
    color:#008F4A;
    text-align: left;
    font-size: clamp(150px, 20vw, 250px);
    font-weight: 500;
    font-family: 'Bukhari Script', 'Poppins', sans-serif;
    top: -15vh;
    left: 10vw;
    text-shadow: 0 0 15px #000000;
}

.styleFont:after {
    margin: 0;
    content: "";
    position: absolute;
    display: block;
    background-color:#ffff;
    width: clamp(270px, 35vw, 500px);
    height: 25px;
    left: -15%;
    top: 60%;
    z-index: -1;
    border-radius: 50px;
    /* neon effect */
    box-shadow: 0 0 25px #008F4A,  0 0 50px #087942;
}

.quote {
    position: relative;
    color: #B0B0B0;
    width: 90%;
    font-family: 'Poppins';
    left: -5%;
}

.qouteContainer {
    width: 40%;
    position: relative;
    left: 10%;
    top: 15%;
    font-size: clamp(12px, 1vw, 20px);
    padding-left: 5%;
    padding-right: 5%;
}

.ghighlight { color: #21E084; font-weight: 550;}
.highlight { color: white; }

/* custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #080808;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #111111;
    border-radius: 10px;
    border: none;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #087942;
  }

@media (max-width: 730px) {
    body {
        margin: 0 0 0 0;
    }
    .welcome {
        display: block;
    }

    .greet {
        text-align: center;
        left: 12vw;
        top: 12vh;
    }

    .styleFont {
        top: -15vh;
        margin: 0;
        left: 20vw;
        font-size: 200px;
    }
    .styleFont::after {
        width: min(350px, 75vw);
    }

    .grid1 {
        position: relative;
        width: 120px;
        top: 2vh;
        left: 10vw;
    }

    .grid2 {
        position: relative;
        width: 100px;
        top: 30vh;
        left: 70vw;
        z-index: 1;
    }

    .icon {
        position: relative;
        width: 250px;
        top: 50vh;
        left: 5%;
    }

    .qoute {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        left: 0;
        top: -50vh;
        font-size: 12px;
    }

    .qouteContainer {
        width: 90%;
        position: relative;
        left: 15%;
        font-size: clamp(8px, 1vw, 12px);
        top: -15vh;
    }    

    .info {
        padding-top: 20%;
        width: 100%;
    }

    .paragraph {
        position: relative;
        width: 80%;
        top: -35vh;
        left: 10%;
    }

    .contactParagraph {
        position: absolute;
        width: 80%;
        font-size: clamp(12px, 1vw, 20px);
        font-family: 'Poppins';
        color: #B0B0B0;
        text-align: center;
        left: 55%;
        transform: translateX(-50%);
    }

    .contact {
        position: absolute;
        display: flex;
        text-align: center;
        width: 90%;
        height: 100vh;
        top: 190vh;
    }   

    .contactButtons {
        display: flex;
    }
    
    .buttons {
        position: absolute;
        left: -5%;
    }

    .primaryButton {
        font-size: 24px;
        height: 60px;
        width: 160px;
    }
    
    .secondaryButton {
        font-size: 24px;
        height: 60px;
        width: 160px;
    }
}

@media (min-width: 731px) and (max-width: 880px) {
    body {
        margin: 0 50px 0 50px;
    }

    .paragraph {
        position: relative;
        left: 5%;
    }
    
    .icon {
        left: 35%;
    }
    .grid2 {
        left: 55%;
    }
}