@import url(https://fonts.googleapis.com/css?family=Poppins);

@font-face {
    font-family: 'Bukhari Script';
    font-style: normal;
    font-weight: 400;
    src: local('Bukhari Script'), url('https://fonts.cdnfonts.com/s/57472/BukhariScript-Regular.woff') format('woff');
}

body {
    background-color: black;
    margin: 0 clamp(75px, 5%, 150px) 0 clamp(75px, 5%, 150px);
}

.topbar {
    text-align: center;
    background-color: black;
    width: 100%;
    height: 80px;
    top: 0;
    position: sticky;
    border-bottom: 1px solid #3F3F3F;
    z-index: 2;
}

.welcome {
    margin: 0;
    width: 100%;
    height: 50vh;
    display: flex;
    gap: 0;
}

.logo{
    position: relative;
    width: 45%;
    left: 25px;
}

.graphic {
    position: relative;
    height: clamp(200px, 25vw, 200px);
    height: clamp(200px, 25vw, 200px);
    z-index: -1;
    top: 4vh;
    left: 6vw;
}

#primaryButton {
    background-color: #21E084;
    color: black;
    border: #21E084 2px solid;
    border-radius: 15px;
    text-align: center;
    font-family: 'Poppins';
    font-size: 26px;
    height: 60px;
    width: 180px;
}

#secondaryButton {
    background-color: #000000;
    color: #21E084;
    border: #21E084 2px solid;
    border-radius: 15px;
    text-align: center;
    font-family: 'Poppins';
    font-size: 26px;
    height: 60px;
    width: 180px;
}

.buttons {
    gap: 15px;
    display: flex;
}

.gitButton {
    position: relative;
}

.projButton {
    position: relative;
}

.greet {
    margin: 0;
    position: relative;
    color:white;
    text-align: left;
    font-size: clamp(20px, 3vw, 36px);
    font-weight: 600;
    font-family: 'Poppins', monospace;
    top: 12vh;
    left: 10vw;
}

.styleFont {
    width: fit-content;
    margin: 0;
    position: relative;
    color:#008F4A;
    text-align: left;
    font-size: clamp(150px, 20vw, 250px);
    font-weight: 500;
    font-family: 'Bukhari Script', 'Poppins', sans-serif;
    top: -15vh;
    left: 10vw;
    text-shadow: 0 0 15px #000000;
}

.styleFont:after {
    margin: 0;
    content: "";
    position: absolute;
    display: block;
    background-color:#ffff;
    width: clamp(270px, 35vw, 500px);
    height: 25px;
    left: -15%;
    top: 60%;
    z-index: -1;
    border-radius: 50px;
    /* neon effect */
    box-shadow: 0 0 25px #008F4A,  0 0 50px #087942;
}

.qoute {
    position: relative;
    color: #B0B0B0;
    left: clamp(5vw,10%,5vw);
    width: 40%;
    padding: clamp(15px,5%,50px);
    font-family: 'Poppins';
    font-size: min(1.5vw, 20px);
}

#highlight { color: white; }

@media (max-width: 730px) {
    body {
        margin: 0 0 0 0;
    }
    .welcome {
        display: block;
    }

    .greet {
        text-align: center;
        left: 15vw;
    }

    .styleFont {
        margin: 0;
        left: 20vw;
        font-size: 200px;
    }
    .styleFont::after {
        width: min(350px, 75vw);
    }

    .graphic {
        position: relative;
        width: 120px;
        top: 2vh;
        left: 10vw;
    }

    .qoute {
        margin: 0;
        width: 90%;
        left: 0;
        top: -15vh;
        font-size: 12px;
    }
}

@media (min-width: 731px) and (max-width: 880px) {
    body {
        margin: 0 50px 0 50px;
    }
}